/*---------------------------------------------------
    JIP
    Jquery Image PIcker
  --------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix::before,
.clearfix::after {
  display: table;
  line-height: 0;
  content: "";
}
/*---------------------------------------------------
    JIP Modal 
  --------------------------------------------------*/
#jipOverlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000 ;
  height: 100%;
  width: 100%;
  z-index: 9000;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#jipOverlay.open {
  display: block;
}
#jipModal {
  display: none;
  width: 75%;
  margin-left: 13%;
  background: #fff;
  top: -150px;
  position: fixed;
  z-index: 9050;
  padding: 20px;
  max-height: 80%;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  filter: alpha(opacity=10);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#jipModal.open {
  display: block;
  -webkit-transform: translate(0px, 200px);
  -moz-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jipModal.hide {
  -webkit-transform: translate(0px, -200px);
  -moz-transform: translate(0px, -200px);
  -o-transform: translate(0px, -200px);
  -ms-transform: translate(0px, -200px);
  transform: translate(0px, -200px);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  filter: alpha(opacity=10);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jipModal #jipTitle {
  border-bottom: 1px #ccc solid;
}
#jipModal #jipTitle h3 {
  margin: 0px;
  padding: 0px;
  float: left;
}
#jipModal #jipTitle form {
  margin-top: 5px;
  float: right;
}
#jipModal #jipTitle form label {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
#jipModal #jipBody {
  max-height: 500px;
  overflow: auto;
}
#jipModal #jipBody ul {
  margin: 20px 0px;
  padding: 0px;
}
#jipModal #jipBody ul li {
  list-style: none;
  float: left;
  padding: 5px;
  display: inline-block;
}
#jipModal #jipBody ul li:hover {
  background: #eee;
}
#jipModal #jipBody ul li p {
  text-align: center;
  padding: 5px 0px ;
}
#jipModal #jipFooter {
  margin-top: 15px;
  border-top: 1px #ccc solid;
}
#jipModal #jipFooter #jipPaging {
  float: left;
}
#jipModal #jipFooter #jipPaging li {
  padding-right: 10px;
}
#jipModal #jipFooter #jipAction {
  float: right;
}
#jipModal #jipFooter #jipAction li {
  padding-left: 10px;
}
#jipModal #jipFooter ul {
  margin: 0px;
  padding: 0px;
}
#jipModal #jipFooter ul li {
  list-style: none;
  float: left;
}
#jipModal #jipFooter ul li button {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #cccccc, #ffffff);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
}
#jipModal #jipFooter ul li button:hover {
  background: #cccccc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #cccccc));
  background: -ms-linear-gradient(bottom, #ffffff, #cccccc);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #cccccc 100%);
  background: -o-linear-gradient(#cccccc, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);
}
/*---------------------------------------------------
    JIP input replacement
  --------------------------------------------------*/
.jipSelector .jipPlaceHolder {
  background: #ddd;
  border: 1px #333 solid;
  display: table;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.jipSelector .jipPlaceHolder img {
  padding: 10px;
}
.jipSelector .jipPlaceHolder .jipImageName {
  color: #000;
  text-align: center;
  padding-bottom: 10px;
}
.jipSelector .jipSelectBtn {
  margin-top: 10px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #cccccc, #ffffff);
  background: -moz-linear-gradient(center bottom, #cccccc 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
}
.jipSelector .jipSelectBtn:hover {
  background: #cccccc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #cccccc));
  background: -ms-linear-gradient(bottom, #ffffff, #cccccc);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #cccccc 100%);
  background: -o-linear-gradient(#cccccc, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);
}
